*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("bg-simplify-section-desktop.svg");
    font-size: 16px;
    font-family: 'Be Vietnam Pro';

}
nav{
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul{
    list-style: none;
    text-align: center;
}

nav ul li{
    display: inline;
    margin-left: 28px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(35, 44, 81);
    font-weight: 500;
}

.boton{
    height: 44px;
    width: 134px;
    border: 0px;
    border-radius: 50vh;
    color: white;
    background-color: rgb(242, 95, 58);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.home{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 75vh;
}

.home article{
    width: 439px;
    height: auto;
}

.home article h1{
    font-size: 58px;
    font-weight: 700;
}

.home article p{
    width: 350px;

}